In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series,DataFrame

c:\Users\89556\.conda\envs\pydata\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# Series

In [3]:
obj = pd.Series([4,7,-5,3])

In [4]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.array

<NumpyExtensionArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2 = pd.Series([4,7,-5,3],index=['d','b','a','c'])

In [8]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [10]:
obj2['b']

7

In [11]:
obj2['d'] = 6

In [12]:
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [14]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [15]:
obj2*2

d    12
b    14
a   -10
c     6
dtype: int64

In [16]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [17]:
'b' in obj2

True

In [18]:
'e' in obj2

False

In [19]:
sdata = {'ohio':35000,
         'texas':71000,
         'oregon':16000,
         'utah':5000
         }

In [20]:
obj3 = pd.Series(sdata)
obj3

ohio      35000
texas     71000
oregon    16000
utah       5000
dtype: int64

In [23]:
obj3.to_dict()

{'ohio': 35000, 'texas': 71000, 'oregon': 16000, 'utah': 5000}

In [24]:
states = ['Ca','ohio','oregon','texas']
obj4 = pd.Series(sdata,index=states)
obj4

Ca            NaN
ohio      35000.0
oregon    16000.0
texas     71000.0
dtype: float64

In [25]:
pd.isna(obj4)

Ca         True
ohio      False
oregon    False
texas     False
dtype: bool

In [26]:
pd.notna(obj4)

Ca        False
ohio       True
oregon     True
texas      True
dtype: bool

In [27]:
obj4.isna()

Ca         True
ohio      False
oregon    False
texas     False
dtype: bool

In [28]:
obj3

ohio      35000
texas     71000
oregon    16000
utah       5000
dtype: int64

In [29]:
obj4

Ca            NaN
ohio      35000.0
oregon    16000.0
texas     71000.0
dtype: float64

In [30]:
obj3+obj4

Ca             NaN
ohio       70000.0
oregon     32000.0
texas     142000.0
utah           NaN
dtype: float64

In [32]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
Ca            NaN
ohio      35000.0
oregon    16000.0
texas     71000.0
Name: population, dtype: float64

In [33]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [34]:
obj.index = ['bob','steve','jeff','ryan']
obj

bob      4
steve    7
jeff    -5
ryan     3
dtype: int64