In [125]:
b = [1,2,3]

In [126]:
a = 5
b = 6
c = 7

In [127]:
a_list = ["foo", 2, [3,4]]

In [128]:
a_list[2] = (1,4)

In [129]:
a_list

['foo', 2, (1, 4)]

In [130]:
a_tuple = (3,5,(4,5))

In [131]:
ival = 11111111

In [132]:
ival ** 6

1881676310258338178650085334026072508518161

In [133]:
fval = 6.445e-5

In [134]:
fval = 1e+7
fval

10000000.0

In [135]:
3/7

0.42857142857142855

In [136]:
a = 'one day'
b = 'i love you'
c = """
     tom jerrt
    dddd
    """
c.count('\n')

3

In [137]:
a = 'this is aaaaaaa'
a[10]

'a'

In [138]:
b= a.replace("a","b")
print(b)
print(a)

this is bbbbbbb
this is aaaaaaa

In [139]:
s = "python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [140]:
s[:3]

'pyt'

In [141]:
s = "12\34"
print(s)

12

In [142]:
s = r"this\has\no\special"
s

'this\\has\\no\\special'

In [143]:
temple = "{0:.2f}个{1:s}货币价值${2:d}美元"
temple.format(7.22, "中国", 1)

'7.22个中国货币价值$1美元'

In [144]:
amount = 100
rate = 7.11
currency ="人民币"

result1 = f"{amount}个{currency}大约价值{round(amount/rate,2)}美元"

In [145]:
result1

'100个人民币大约价值14.06美元'

In [146]:
amount = 100
rate = 101
currency ="日元"
result2 = f"{amount}个{currency}大约价值{round(amount/rate,2)}美元"

In [147]:
result2

'100个日元大约价值0.99美元'

In [148]:
from datetime import datetime, date, time

dt = datetime(2011, 10, 29, 20, 30, 21)
dt.month

10

In [149]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [150]:
dt.strftime("%Y--%m--%d %H:%M:%S")

'2011--10--29 20:30:21'

In [151]:
datetime.strptime("20000709","%Y%m%d")

datetime.datetime(2000, 7, 9, 0, 0)

### 控制流

In [152]:
def Judgment_number(x):
    if x < 0 :
        print("it is nagetive")
    elif x == 0:
        print("it is zero")
    elif 0 < x < 5 :
        print("Positive but smaller than 5")
    else:
        print("others")

Judgment_number(200)

others

In [153]:
seq = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for val in seq:
    if val == 5:
        break
    total_until_5+=val

total_until_5

13

In [154]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [155]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [157]:
list(range(10,0,-3))

[10, 7, 4, 1]

In [158]:
seq = [1,2,3,4,5,6]
for i in range(len(seq)):
    print(f"element {i} : {seq[i]}")

element 0 : 1
element 1 : 2
element 2 : 3
element 3 : 4
element 4 : 5
element 5 : 6

In [159]:
# 对 0 ~ 99999中所有3和5的倍数求和
total = 0

for i in range(100_000):
    if i%3==0 or i%5==0:
        total+=i
print(total)

2333316668