# p53-----python数据结构、函数与文件

## 元组

In [49]:
tup = (4,5,6)
tup

(4, 5, 6)

In [50]:
tup = 4,5,6
tup

(4, 5, 6)

In [51]:
tuple([4,0,2])

(4, 0, 2)

In [52]:
tup = tuple('string')
print(tup)
print(tup[1])

('s', 't', 'r', 'i', 'n', 'g')
t

In [53]:
nested_tup = (4,5,6),(7,8)
nested_tup[1]

(7, 8)

In [54]:
tup = tuple(['foo',[1,2],True])
tup[1].append(5)
tup

('foo', [1, 2, 5], True)

In [55]:
tup1 = tuple(['fpp',1,2])
tup2 = tup1 + (1,1,1)
tup2

('fpp', 1, 2, 1, 1, 1)

In [56]:
tup = 4,5,6,(7,8)
a,b,c,d = tup
print(a)
print(b)
print(c)
print(d)

4
5
6
(7, 8)

In [57]:
a,b,c = 1,2,3
a,c = c,a

In [58]:
a

3

In [59]:
c

1

In [60]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print(f'a={a},b={b},c={c}')

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [61]:
values= 1,2,3,4,5
a,b,*_ = values
_

[3, 4, 5]

In [62]:
a = 1,2,2,2,2,2,4,4,4,4,5
a.count(2)

5

## 列表

In [63]:
tup = ("foo","bar","baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [64]:
b_list[1] = "hello"
b_list

['foo', 'hello', 'baz']

In [65]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
b_list.append("dwarf")
b_list

['foo', 'hello', 'baz', 'dwarf']

In [67]:
b_list.insert(1,'red')
b_list

['foo', 'red', 'hello', 'baz', 'dwarf']

In [68]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [69]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf']

In [70]:
'dawrf' in b_list

False

In [71]:
'dwarf' in b_list

True

In [72]:
b_list.extend([7,8,(2,3)])
b_list

['red', 'baz', 'dwarf', 7, 8, (2, 3)]

In [73]:
a = [7,6,2,3,1]
a.sort()
a

[1, 2, 3, 6, 7]

In [74]:
b = ['aa','aaaaa','ccccccc','dd']
b.sort(key=len)
b

['aa', 'dd', 'aaaaa', 'ccccccc']

In [75]:
seq = list(range(10))
seq[1:5]

[1, 2, 3, 4]

In [76]:
seq[5:7]

[5, 6]

In [77]:
seq[:5]

[0, 1, 2, 3, 4]

In [78]:
seq[3:]

[3, 4, 5, 6, 7, 8, 9]

In [79]:
seq[-4:]

[6, 7, 8, 9]

In [80]:
seq[-6:-2]

[4, 5, 6, 7]

In [81]:
seq[::2]

[0, 2, 4, 6, 8]

In [82]:
seq[::-3]

[9, 6, 3, 0]

## 字典

In [83]:
empty_dict = {}
d1 = {"a":"some value",
      "b":[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [84]:
d1['c'] = '77777'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': '77777'}

In [85]:
d1["b"]

[1, 2, 3, 4]

In [86]:
d1[5] = "some value"
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 'c': '77777',
 5: 'some value',
 'dummy': 'another value'}

In [87]:
del d1[5]

In [88]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': '77777', 'dummy': 'another value'}

In [89]:
ret = d1.pop("dummy")
ret

'another value'

In [90]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': '77777'}

In [91]:
list(d1.keys())

['a', 'b', 'c']

In [92]:
list(d1.values())

['some value', [1, 2, 3, 4], '77777']

In [93]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), ('c', '77777')]

In [94]:
d1.update({"b":"foo","c":12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [95]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [96]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}


# 集合

In [99]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [100]:
{2,2,2,1,1,1,3,3}

{1, 2, 3}

In [101]:
a = {1,2,2,2,3,3,3}
b = {3,3,4,4,5,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [102]:
a | b

{1, 2, 3, 4, 5, 6}

In [103]:
a.intersection(b)

{3}

In [104]:
a & b

{3}

In [106]:
c = a.copy()
c

{1, 2, 3}

In [108]:
c|=b
c

{1, 2, 3, 4, 5, 6}

In [109]:
d = a.copy()
d

{1, 2, 3}

In [111]:
d &=b
d

{3}

In [112]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [113]:
a_set = {1,2,3,4,5,6}
{1,2,3}.issubset(a_set)

True

In [114]:
a_set.issuperset({1,2,3})

True

In [120]:
{1,2,3} == {3,1,2}

True

# Python内置序列函数

In [117]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [118]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [121]:
seq1 = ["foo","bar","baz"]
seq2 = ["one","two","three"]
zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [122]:
seq3 = [False, True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [123]:
for index, (a,b) in enumerate(zip(seq1,seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [127]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# 推导式

In [129]:
str = ['a','as','bat','car','dove','python']

In [130]:
[x.upper() for x in str if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [131]:
unique_lengths = {len(x) for x in str}
unique_lengths

{1, 2, 3, 4, 6}

In [132]:
set(map(len,str))

{1, 2, 3, 4, 6}

In [136]:
loc_mapping = {value: index for index, value in enumerate(str)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

# 嵌套列表推导式

In [137]:
all_data = [['jhon','emily','michael','mary','steven'],
            ['maria','juan','javier','natalia','pilar']]

In [138]:
names_of_interest = []

In [139]:
for names in all_data:
    enough_as = [name for name in names if name.count('a') >=2]
    names_of_interest.extend(enough_as)

In [140]:
names_of_interest

['maria', 'natalia']

In [142]:
## 用嵌套列表推导式
result = [name for names in all_data for name in names
          if name.count('a') >= 2]
result

['maria', 'natalia']

In [146]:
## 嵌套写法
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]

flattened = [x for tup in some_tuples for x in tup]

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
## 普通写法
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
#生成列表的列表
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]