In [1]:
import pandas as pd
import numpy as np

c:\Users\89556\.conda\envs\pydata\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# 读取EXCEL文件

In [2]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
xlsx.sheet_names

['Sheet1']

In [3]:
frame = xlsx.parse(sheet_name='Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [4]:
xlsx.parse(sheet_name='Sheet1',index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [6]:
frame.to_excel(writer,'Sheet1')

C:\Users\89556\AppData\Local\Temp\ipykernel_47964\1885353692.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  frame.to_excel(writer,'Sheet1')

In [7]:
frame.to_excel('examples/ex2.xlsx')

# 使用HDF5格式

In [8]:
frame = pd.DataFrame({'a':np.random.standard_normal(100)})

store = pd.HDFStore('examples/mydata.h5')

store['obj1'] = frame

store['obj1_col'] = frame['a']

store

<class 'pandas.io.pytables.HDFStore'>
File path: examples/mydata.h5

In [9]:
store['obj1']

           a
0   0.796619
1   0.042265
2   0.193704
3  -1.192366
4  -0.712576
..       ...
95 -1.348430
96  1.995731
97 -1.308270
98 -0.019716
99  0.453786

[100 rows x 1 columns]

In [10]:
store.put('obj2',frame,format='table')

In [11]:
store.select('obj2',where=['index >= 10 and index <= 15'])

           a
10  0.427416
11 -0.939540
12 -0.996550
13 -0.970769
14 -0.502040
15  1.320863

In [12]:
store.close()

In [13]:
frame.to_hdf('examples/mydata.h5','obj3',format='table')

C:\Users\89556\AppData\Local\Temp\ipykernel_47964\1625513902.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_hdf except for the argument 'path_or_buf' will be keyword-only.
  frame.to_hdf('examples/mydata.h5','obj3',format='table')

In [14]:
pd.read_hdf('examples/mydata.h5','obj3',where=['index < 5'])

          a
0  0.796619
1  0.042265
2  0.193704
3 -1.192366
4 -0.712576

In [15]:
import os

os.remove('examples/mydata.h5')

# 与Web API交互

In [16]:
import requests

In [17]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [18]:
resp = requests.get(url)

In [19]:
resp.raise_for_status()

In [20]:
resp

In [21]:
data = resp.json()

In [24]:
data[0]['title']

'ENH: Droping consecutive duplicates'

In [25]:
issues = pd.DataFrame(data, columns=['number','title','labels','state'])

In [26]:
issues

,number,title,labels,state
0,59874,ENH: Droping consecutive duplicates,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,59873,Fix Docstring Issues for pandas.Series.sparse...,[],open
2,59872,"DOC: fix SA01, ES01 for pandas.errors.EmptyDat...",[],open
3,59871,"DOC: fix RT03, ES01 for pandas.core.resample.R...",[],open
4,59869,"DOC: fix RT03, ES01 for pandas.core.groupby.Da...",[],open
5,59868,DOC: fix RT03 for pandas.date_range,[],open
6,59867,"DOC: fix SA01, ES01 for pandas.arrays.Interval...",[],open
7,59866,DOC: fix SA01 for pandas.arrays.BooleanArray,[],open
8,59865,"DOC: fix SA01, ES01 for pandas.api.types.is_ob...",[],open
9,59864,DOC: fix SA01 for pandas.api.types.is_list_like,[],open
10,59863,DOC: fix SA01 for pandas.api.types.is_interval...,[],open
11,59862,DOC: fix SA01 for pandas.api.types.is_int64_dtype,[],open
12,59861,"DOC: fix SA01, ES01 for pandas.api.types.is_fl...",[],open
13,59860,"DOC: fix SA01, ES01 for pandas.Timedelta.to_ti...",[],open
14,59859,"DOC: fix SA01, ES01 for pandas.Series.sparse.s...",[],open
15,59858,DOC: fix SA01 for pandas.Series.sparse.fill_value,[],open
16,59857,"DOC: fix SA01, ES01 for pandas.RangeIndex.step",[],open
17,59856,"DOC: fix SA01, ES01 for pandas.tseries.offsets...",[],open
18,59855,DOC: Fix inconsistent and incomplete documenta...,[],open
19,59854,String dtype: allow string dtype for non-raw a...,"[{'id': 57522093, 'node_id': 'MDU6TGFiZWw1NzUy...",open
20,59853,String dtype: implement sum reduction,"[{'id': 57522093, 'node_id': 'MDU6TGFiZWw1NzUy...",open
21,59852,typo,[],open
22,59850,Separate out examples - pandas.str.is methods,[],open
23,59846,BUG: Automatic change of color when the plot t...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,59845,BUG: pd.options.future.no_silent_downcasting i...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,59844,"timedelta on datetime df, series arithmetic",[],open
26,59843,ENH: Add kwargs to Series.map,[],open
27,59841,BUG: to_sql with ADBC driver fails when schema...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,59839,ENH: add a comments variable to pandas.DataFra...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
29,59833,BUG: Timestamp.tz and DatetimeIndex.tz are inc...,"[{'id': 60458168, 'node_id': 'MDU6TGFiZWw2MDQ1...",open

# 与数据库交互

In [27]:
import sqlite3

In [28]:
query = """
    CREATE TABLE test
    (
        a VARCHAR(20),
        b VARCHAR(20),
        c REAL,
        d INTEGER    
    );
"""

In [29]:
con = sqlite3.connect("mydata.sqlite")

In [30]:
con.execute(query)

In [31]:
con.commit()

In [33]:
# 插入数据

data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [34]:
cursor = con.execute("SELECT * FROM test")

In [35]:
rows = cursor.fetchall()

In [36]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [37]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [38]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [39]:
import sqlalchemy as sqla

In [40]:
db = sqla.create_engine("sqlite:///mydata.sqlite")

In [43]:
pd.read_sql("SELECT * FROM test WHERE c==1.25", db)

         a        b     c  d
0  Atlanta  Georgia  1.25  6